
android-project/app/build/
android-project/build/
android-project/app/src/main/assets/
android-project/app/jni/SDL*
android-project/Android
android-project/app/.externalNativeBuild
android-project/.gradle/3.3/taskArtifacts/*
android-project/.gradle/buildOutputClean*
android-project/keystore.properties

